.contenedor {
  width: 70%;
  max-width: 900px;
  background-color: #ffffff;
  padding: 20px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contenedor br {
  font-weight: bold;
  font-size: 18px;
  color: #0716AF;
}

.contenedor p {
  margin: 15px 0;
  padding: 10px;
  background-color: #eaf4ff;
  border-left: 4px solid #0716AF;
  border-radius: 6px;
}

.infografia {
  width: 80%; 
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

.btn-canva {
  background-color: #0716AF; 
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-canva:hover {
  background-color: #3a49f8;
}